/*
SECTION 1: Basic HTML Elements
SECTION 2: Custom Classes and IDs
SECTION 3: Media Queries
*/

/* SECTION 1: Basic HTML Elements */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
}

h2 {
}

h3 {
}

p {
}

h4 {
}

input:not([type=submit]):not([type=file]) {
	padding: 12px 10px;
	background: white;
	border: 1px solid #0C95B1;
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
}



/* SECTION 2: Custom Classes and IDs */

.card {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);

	width: 50%;
	min-width: 570px;
	max-width: 670px;
	padding: 4em;
	margin: 2em auto;
}

.input-label {
	margin: 1em 0 0 0;
	color: #A2A2A2;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 0.8em;
}



/* SECTION 3: MEDIA QUERIES */

@media only screen and (max-width: 600px) {
	.card {
		min-width: 300px;
		max-width: 450px;
		width: 95%;
		padding: 2em;
	}
}

