/*
SECTION 1: Fonts
SECTION 2: Basic HTML Elements
SECTION 3: Custom Classes and IDs
SECTION 4: Media Queries
*/

/* SECTION 1: Fonts */

@font-face {
    font-family: 'clear_sansregular';
    src: url('fonts/ClearSans-Regular-webfont.eot');
    src: url('fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ClearSans-Regular-webfont.woff') format('woff'),
         url('fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans_lightregular';
    src: url('fonts/ClearSans-Light-webfont.eot');
    src: url('fonts/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ClearSans-Light-webfont.woff') format('woff'),
         url('fonts/ClearSans-Light-webfont.ttf') format('truetype'),
         url('fonts/ClearSans-Light-webfont.svg#clear_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearsans-light {
	font-family: 'clear_sans_lightregular', sans-serif;
}

@font-face {
    font-family: 'clear_sansbold';
    src: url('fonts/ClearSans-Bold-webfont.eot');
    src: url('fonts/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ClearSans-Bold-webfont.woff') format('woff'),
         url('fonts/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearsans-bold {
	font-family: 'clear_sansbold', sans-serif;
}

@font-face {
    font-family: 'clear_sans_mediumregular';
    src: url('fonts/ClearSans-Medium-webfont.eot');
    src: url('fonts/ClearSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ClearSans-Medium-webfont.woff') format('woff'),
         url('fonts/ClearSans-Medium-webfont.ttf') format('truetype'),
         url('fonts/ClearSans-Medium-webfont.svg#clear_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearsans-medium {
	font-family: 'clear_sans_mediumregular', sans-serif;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?8khaxz');
    src:    url('fonts/icomoon.eot?8khaxz#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?8khaxz') format('truetype'),
        url('fonts/icomoon.woff?8khaxz') format('woff'),
        url('fonts/icomoon.svg?8khaxz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow_downward:before {
    content: "\e5db";
}
.icon-date_range:before {
    content: "\e916";
}
.icon-insert_invitation:before {
    content: "\e24f";
}
.icon-expand_less:before {
    content: "\e5ce";
}
.icon-expand_more:before {
    content: "\e5cf";
}
.icon-cancel:before {
    content: "\e900";
}
.icon-cancel{
    color: rgba(192,192,192,0.7);
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
}
.icon-calendar:before {
    content: "\e901";
}
.icon-arrow-down2:before {
    content: "\e902";
}




/* SECTION 2: Basic HTML Elements */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
	font-family: 'clear_sans_lightregular', sans-serif;
	background-color: #29B6F6;
	color: #FFFFFF;
}

h1 {
	font-family: 'clear_sansregular', sans-serif;
	line-height: 1.15em;
}

h2 {
	font-family: 'clear_sansregular', sans-serif;

}

h3 {
	font-family: 'clear_sansregular', sans-serif;
}

p {
}

h4 {
}

input:not([type=submit]):not([type=file]) {
	padding: 12px 10px;
	/*
	background: white;
	border: 1px solid #0C95B1;
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
	*/
}

select {
	width: 100%;
	max-width:200px;
}

button {

}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	padding-bottom: 1em;
}




/* SECTION 3: Custom Classes and IDs */

.card {
	/*
	background: #FFFFFF;
	-webkit-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
	*/

	width: 50%;
	min-width: 570px;
	max-width: 670px;
	padding: 3em;
	margin: 2em auto;
}

.bg-highlight {
	background-color: rgba(2,119,189,0.9);
	padding: 0.5em 1em;
}

.inputwrapper {
	position: relative;
	width: 100%;
}

#addressInputField {
	width: 100%;
}

.clearinput{
	border: none;
	background: white;
	width: 2.5em;
	height: 45px;
	position: absolute;
	right: 3px;
	top: 0;
	margin-top:4px;
	border-radius: 2px;
}

.input-label {
	margin: 1em 0 0 0;
	color: #A2A2A2;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 0.8em;
}

.moreinfo {
	text-decoration: none;
	/*border-bottom: 1px white dashed;*/
	cursor: pointer;
	background-color: rgba(2,119,189,0.4);
	padding: 3px 0 3px 6px;
	line-height: 1.8em;
}

.showinfo {
	padding: 5px 20px;
	margin: 0 0 1.5em 0;
}

.fade-transition {
	transition: all .3s ease;
	background-color: rgba(2,119,189,0.3);
	overflow: hidden;
}
.fade-enter, .fade-leave {
	opacity: 0;
}

#indicators {
	position: fixed;
	top: 50%;
	margin-top: -42px; /* half of the height of this div*/
	right: 1em;
	height: 84px;
	width: 15px;
}

.indicatordot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #FFFFFF;
	background: transparent;
	margin: 10px 0px;
}

#dot1, #dot2, #dot3 {

}


/* SECTION 4: MEDIA QUERIES */

@media only screen and (min-width: 800px) {
	body {
		font-size: 20px;
	}
	.card {
		min-width: 700px;
		width: 75%;
		padding: 2em;
	}
}

@media only screen and (min-width: 601px) and (max-width: 799px){
	body {
		font-size: 22px;
	}
	.card {
		min-width: 500px;
		width: 80%;
		padding: 2em;
	}
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 15px;
	}
	.card {
		min-width: 300px;
		max-width: 450px;
		width: 95%;
		padding: 2em;
	}
}

